body {
  background-color: #e0e0e2;
  padding-left: 8px;
  padding-right: 8px;
}

#copyright {
  font-size: 0.75em;
  padding-top: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* To push logo and h1 to the left and list items to the right */
  align-items: center; /* Vertically center items */
  padding: 10px; /* Add padding for spacing */
  /* background-color: #333;  */
  color: #000000; /* Text color */
}

.left-content {
  display: flex; /* Display logo and h1 in a row */
  align-items: center; /* Vertically center items */
}

.left-content img {
  height: 30px; /* Adjust logo height as needed */
  margin-right: 10px; /* Add spacing between logo and h1 */
}

.right-content {
  display: flex; /* Display list items in a row */
  list-style-type: none; /* Remove list bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.right-content li {
  margin-left: 15px; /* Add spacing between list items */
}

.right-content li:first-child {
  margin-left: 0; /* Remove left margin from the first list item */
}

.right-content li a {
  color: #000000; /* Text color */
  text-decoration: none; /* Remove underline */
}

.right-content li a:hover {
  text-decoration: underline; /* Underline on hover */
}

#main-Container-Div {
  /* background-color: red; */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.sizedBox {
  width: 30px;
}

.container {
  display: flex;
  align-items: center; /* gelika */
  justify-content: flex-start;
  padding: 8px;
  background-image: url("assets/containerImageBackground.png");
  background-size: cover;
  height: 250px;
  width: 200px; /* Adjust the width as needed */
  border-radius: 10%;
  flex-direction: column;
  margin-left: 10px; /* space between each container*/
}

#containerImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px; /* Adjust the spacing between image and text */
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text content */
}

.text-container p {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Alfa Slab One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15em;
  text-align: center;

  color: #007055; /* Set text color */
  -webkit-text-stroke: 0.5px #fff9f9; /* Add text border */

  /* background: linear-gradient(0deg, #007055, #007055),
    linear-gradient(0deg, #fff9f9, #fff9f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin: 0; /*Remove default margin */
}

.text-container button {
  /* background-color: red; */
  font-family: "Bevan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border: 0px solid #58bae4;
  background-image: url("assets/containerButtonBackground.png");
  background-size: contain; /* Fit the image into the button container */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image */
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  /* display:flex; */
  margin-left: 50px;
  /* transition: background-color 0.3s, color 0.3s, border-color 0.3s; */
}

.text-container button:hover {
  background-color: #000000;
  color: #fff;
}

/* 2xl */
@media (max-width: 1536px) {
}
/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/* XS */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
